---
import { Icon } from "astro-icon/components";
import CartItemTemplate from "./cart-item-template.astro";
---

<div data-controller="cart">
  <button
    class="relative mx-2 flex items-center text-blue-200 hover:text-white"
    data-action="click->cart#openCart"
  >
    <Icon name="bag" size={24} />
    <span
      data-cart-target="count"
      class="absolute left-3 hidden h-6 w-6 items-center justify-center rounded-full bg-red-500 text-sm text-white first-letter:-top-2"
    ></span>
  </button>
  <section
    data-cart-target="cartContainer"
    class="absolute bottom-0 left-0 right-0 top-0 z-50 hidden h-screen w-screen items-center justify-center bg-black bg-opacity-50"
  >
    <aside class="absolute bottom-0 right-0 top-0 w-full bg-white lg:w-[450px]">
      <div class="fixed inset-y-0 right-0 flex max-w-full">
        <div class="w-screen max-w-md translate-x-0">
          <div
            class="flex h-full flex-col overflow-y-scroll bg-white shadow-xl"
          >
            <div class="flex-1 overflow-y-auto px-4 py-6 sm:px-6">
              <div class="flex items-start justify-between">
                <h2
                  class="text-lg font-medium text-gray-900"
                  id="headlessui-dialog-title-:r7:"
                  data-headlessui-state="open"
                >
                  Shopping cart
                </h2>

                <div class="ml-3 flex h-7 items-center">
                  <button
                    data-action="click->cart#closeCart"
                    type="button"
                    class="-m-2 p-2 text-gray-400 hover:text-gray-500"
                    tabindex="0"
                  >
                    <span class="sr-only">Close panel</span>
                    <Icon name="close" size={32} />
                  </button>
                </div>
              </div>

              <div class="mt-8">
                <div class="flow-root">
                  <ul
                    data-cart-target="itemList"
                    role="list"
                    class="-my-6 divide-y divide-gray-200"
                  >
                    <!-- Cart templates will be injected here -->
                  </ul>
                </div>
              </div>
            </div>
            <div
              data-cart-target="footer"
              class="border-t border-gray-200 px-4 py-6 sm:px-6"
            >
              <div
                class="flex justify-between text-base font-medium text-gray-900"
              >
                <p>Subtotal</p>
                <p data-cart-target="subTotal"></p>
              </div><p class="mt-0.5 text-sm text-gray-500">
                Shipping will be calculated at checkout.
              </p><div class="mt-6">
                <a
                  class="flex items-center justify-center rounded-md border border-transparent bg-primary-600 px-6 py-3 text-base font-medium text-white shadow-sm hover:bg-primary-700"
                  href="/checkout">Checkout</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </aside>
  </section>

  <template data-cart-target="emptyTemplate">
    <div class="mt-8">
      <div class="flex h-48 items-center justify-center text-xl text-gray-400">
        Your cart is empty
      </div>
    </div>
  </template>
  <CartItemTemplate />
</div>
