---
import { Icon } from "astro-icon/components";
import Cart from "~/components/cart.astro";
import type { Seller } from "~/graphql/_generated";

type Props = {
  seller: Seller;
};

const { seller } = Astro.props;
---

<nav>
  <div class="flex flex-wrap items-center justify-between bg-slate-800 p-4">
    <div class="mr-6 flex flex-shrink-0 items-center text-white">
      <h1 class="w-10 text-white">
        <a href="/">
          {seller?.customFields?.siteTitle || "Seller Site Title"}
        </a>
      </h1>
    </div>

    <div class="flex items-center justify-center">
      <Cart />
      <button
        id="burger"
        class="mx-2 flex items-center text-blue-200 hover:text-white lg:hidden"
      >
        <Icon name="bars" size={30} />
      </button>
    </div>
  </div>
</nav>
