---
import FacetsFilter from "~/components/facets-filter.astro";
import type { FacetValue } from "~/utils";
type Props = {
  facets: Record<string, FacetValue[]>;
  facetValueIds: string[];
};
const { facets, facetValueIds } = Astro.props;
---

<div
  class="fixed inset-0 z-40 translate-x-full transition-transform duration-500 ease-in-out"
  data-filters-target="sidebar"
>
  <div
    class="relative ml-auto flex h-full w-full max-w-xs translate-x-0 flex-col overflow-y-auto bg-white py-4 pb-12 shadow-xl"
    id="headlessui-dialog-panel-:r7:"
    data-headlessui-state="open"
  >
    <div class="flex items-center justify-between px-4">
      <h3 class="font-medium uppercase text-gray-700">Filters</h3>
      <hr />

      <button
        data-action="click->filters#toggleFilterSidebar"
        type="button"
        class="-mr-2 flex h-10 w-10 items-center justify-center rounded-md bg-white p-2 text-gray-400"
        tabindex="0"
        ><span class="sr-only">Close menu</span><svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
          class="h-6 w-6"
          ><path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 18L18 6M6 6l12 12"></path></svg
        ></button
      >
    </div>
    <FacetsFilter facets={facets} facetValueIds={facetValueIds} />
  </div>
</div>
